html {
	@include box-sizing(border-box);
}

*,
*:after,
*:before {
	@include box-sizing(inherit);
}
*:focus {
    outline: none;
}


body {
	font-family: $font-base;
	color: $color-base;
	position: relative;
	overflow-x: hidden;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252525+0,000000+100 */
	background: #252525; /* Old browsers */
	background: -moz-linear-gradient(top,  #252525 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #252525 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #252525 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

p, ul, ol {
	&:first-of-type {
		margin-top: 0; // This is because of normalize. If you Meyer you have it anyway.
	}
	&:last-of-type {
		margin-bottom: 0; // This is because of normalize. If you Meyer you have it anyway.
	}
}


