.u-clearfix {
	@include clearfix;
}

.u-reverse {
	color: $color-canvas;
	* {
		color: inherit;
	}
	a:hover,
	a:focus {
		color: inherit;
	} // a:hover
}

.u-screen-reader {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.u-display-none {
	display: none!important;
}

.u-overflow-visible {
	overflow: visible!important;
}

.ScrollSceneIndicators { z-index: 9999999 !important; }